#content{
    padding: 0.25em 1em;
}

.info_block{
    margin-bottom: 1em;
}

.info_block > div{
    padding-left: 0.5em;
}

.version{
    padding-bottom: 1em;
}

.centered_image{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.image_resize{
    width: 400px;
}

@media screen and (max-width: 450px) {
    .image_resize{
        width: 100%;
    }
}